[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.11"

[packages]
bottle = "*"
pyyaml = "*"
requests = "*"
copr = "*"
django = "~=4.2"
psycopg2 = "*"
gunicorn = {extras = [ "gevent",]}
