{% extends "base.html" %}

{% block title %}Machines{% endblock %}

{% block navbar_machines %}class="active"{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        {% if successmessage %}
        <div class="success">{{successmessage}}</div>
        {%endif%}
        {% if errormessage %}
        <div class="error">{{errormessage}}</div>
        {%endif%}

        <h2>Build Machines</h2>
        <ul>
            {% for machine in machines_list %}
            <li>Container {{machine.host}} ({{machine.type}}): {{machine.status}} <br/>
                {% if machine.status == "BUILDING" %}
                    {% if request.user == machine.user or not machine.secret %}
                    Currently building
                    <a href="/projects/{{machine.build.user.username}}/{{machine.build.project}}/package/{{machine.build.package}}#{{machine.build.branchname}}_{{machine.build.distro}}/{{machine.build.release}}/{{machine.build.arch}}">
                        {{machine.build.user.username}}/{{machine.build.project}}/{{machine.build.package}}/{{machine.build.branchname}}/{{machine.build.distro}}/{{machine.build.release}}/{{machine.build.arch}}</a>:
                        <a href="/livelog/{{machine.build.user.username}}/{{machine.build.project}}/{{machine.build.package}}/{{machine.build.branchname}}/{{machine.build.distro}}/{{machine.build.release}}/{{machine.build.arch}}">View live log</a><br/>
                    {% endif %}
                {% endif %}

                {% if request.user %}
                    &nbsp; &nbsp; Action: <ul>
                    <li><a href="/machines/reset/{{buildmachine}}">Reset the machine</a> (This will stop any running jobs on this machine)</li>
                </ul>
                {% endif %}
                <br/>
              </li>
           {% endfor %}
        </ul>
        <h2>Planned Jobs</h2>
        <ul>
            {% for job in waiting_builds %}
            <li>
                <a href="/projects/{{job.user.username}}/{{job.project}}/package/{{job.package}}#{{job.branchname}}_{{job.distro}}/{{job.release}}/{{job.arch}}">
                    {{job.user.username}}/{{job.project}}/{{job.package}}/{{job.branchname}}/{{job.distro}}/{{job.release}}/{{job.arch}}</a>
                {% if request.user %}
                : <a href="/cancelplannedbuild/{{job.user.username}}/{{job.project}}/{{job.package}}/{{job.branchname}}/{{job.distro}}/{{job.release}}/{{job.arch}}">
                    Cancel this build</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <h2>Recent Jobs</h2>
        <table class="table">
            {% for job in finished_builds %}
            <tr>
                <td>{{job.finished}}</td>
                <td>{{job.duration}}</td>
                <td>
                    <a href="/package/{{job.user.username}}/{{job.project}}/{{job.package}}#{{job.branchname}}_{{job.distro}}/{{job.release}}/{{job.arch}}">
                        {{job.user.username}}/{{job.project}}/{{job.package}}#{{job.branchname}}_{{job.distro}}/{{job.release}}/{{job.arch}}</a>
                </td>
                <td><a href="/logs/{{job.user.username}}/{{job.project}}/{{job.package}}#{{job.branchname}}_{{job.distro}}/{{job.release}}/{{job.arch}}/{{job.id}}">
                    build {{job.id}}</a></td>
                <td>
                <code class="{{job.buildsuccess}}">
                    {% if job.buildsuccess == "success" %}Succeeded{% else %}Failure{% endif %}
                </code></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
