{% extends "base.html" %}
{% load counter %}
{% load filter %}
{% block title %}Projects{% endblock %}
{% block navbar_projects %}class="active"{% endblock %}
{% block content %}


<h2>Details of Package {{package.project.user.get_username}}:{{package.project.name}}:{{package.name}}</h2>

<ul>
  <li><a href="{{package.project.git_url}}/tree/{{package.project.git_branch}}/{{package.name}}" target="_blank">Project sources</a></li>

  {% for branchname in package.get_branches %}
  {% for buildtarget in package.get_buildtargets %}

  <a name="{{branchname}}_{{buildtarget}}"></a><br/><br/><br/>
  <a href="#{{branchname}}_{{buildtarget}}">
    {% if package.get_branches|length == 1 %}
    <h4>{{buildtarget}}</h4>
    {% else %}
    <h4>{{branchname}} - {{buildtarget}}</h4>
    {% endif %}
  </a>
  <ul>
    {% with buildtargetlist=buildtarget|split:"/" %}
    <li><a href="{% url "builder:triggerbuild" package.project.user.get_username package.project.name package.name branchname buildtargetlist.0 buildtargetlist.1 buildtargetlist.2 %}">Trigger build</a></li>
    {% endwith %}

    <li>Build history and logs:<ul>
    {% for key, value in builds_per_target_and_branch.items %}
    {% with filter_key=buildtarget|add:'-'|add:branchname %}
    {% if key == filter_key %}
    {% for build in value %}
    <li class="{{build.buildsuccess}}">
        <a href="/logs/{{build.user.username}}/{{build.project}}/{{build.package}}/{{build.branchname}}/{{build.distro}}/{{build.release}}/{{build.arch}}/{{build.number}}">log of build {{build.number}}</a> {{build.finished|date:'Y-m-d H:i:s'}}
        &nbsp;
        {% if build.buildsuccess == "success" %}Succeeded{%else%}Failure{%endif%}
    </li>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% endfor %}
    </ul></li>

    {% for key, value in repoinstructions_per_buildtarget.items %}
    {% if key == buildtarget %}
    <li>Installation instructions:
        <pre>{{value}}</pre>
    </li>
    {% endif %}
    {% endfor %}

    {% for key, value in srcinstructions_per_buildtarget.items %}
    {% if key == buildtarget %}
    <li>Download Source package:
        <a href="{{value_0}}">{{value_1}}</a>
    </li>
    {% endif %}
    {% endfor %}

    {% for key, value in wininstructions_per_branchname.items %}
    {% if key == branchname %}
    <li>Download Windows Installer:
        <a href="{{value_0}}">{{value_1}}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  {% endfor %}
  {% endfor %}
</ul>


{% endblock %}
