/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

a.success, li.success, code.success {
  background-color: lightgreen;
}

a.failure, li.failure, code.failure {
  background-color: red;
}

div.error {
    padding: 20px;
    background-color: red;
    color: white;
    font-weight: bolder;
}

div.success {
    padding: 20px;
    background-color: lightgreen;
    color: black;
    font-weight: bolder;
    text-align: center;
}